/* navigation */

#navbar {
    flex-direction: column;
    margin: -10px 0px 0px 15px;

}

#navbar ul li a {
    font-size: 1rem;
    margin: -1px 2px;
    padding: 0px 25px;

}

/* home section  */
#home {
    display: flex;
    height: 400px;
    margin-top: 2px;
    margin: 22px 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home::before {
    height: 410px;
}

#home p {
    font-size: 1rem;
}

/* work section  */

#work {
    flex-direction: column;
}

/* #work .box{
    
} */

#contact-section {
    height: 240px;


}

#contact-section::before {
    height: 240px;
}

#skills {
    flex-wrap: wrap;
}

footer {
    width: 100%;
}

#contacts {
    padding: 1px 1px;
    margin: 1px 50px;
}

#contacts img {
    height: 30px;

}


/* utility clasess */

.h-primary {
    font-size: 25px;
}


.btn {
    font-size: 0.8rem;
}